@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono');
  body{
    margin: 0;
    padding: 0;
  }

  #header
  {
    text-align: center;
    color: #fff;
    background-image: url(../image/pw_maze_black_2X.png);
    padding: 280px 0;
  }
  #header h1{
    letter-spacing: 0.5em;
    font-family: 'Poppins', sans-serif;
  }
  #header p{
    text-transform: uppercase;
    letter-spacing: 0.1em;

  }

  #header .get-started
  {
    border-color: #4ABDAC;
    color: #4ABDAC;
  }

  #header .get-started:hover
  {
    border-color: #4ABDAC;
    background-color: #4ABDAC;
    color: #fff;
  }

  .navbar {
    box-shadow: 2px 2px 5px #4ABDAC;

    background: #f3f3f3; }

  .navbar .nav-item
  {
      font-size: 1.4rem;
      padding-right: 1.4rem;
  }


  #service
  {
    height: 1900px;
    background: #4ABDAC;
  }
  .mt-100
  {
    margin-top: 100px;
  }

/* --------------------------------
============= The End =============
---------------------------------*/
