@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Roboto', sans-serif;
}

  nav.sticky {
    background-color: #25499f;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
}
#showcase{
  background-image: url(../image/welcome-bg.png);
  position: relative;
  z-index: 2;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* --------------------------------
============= The End =============
---------------------------------*/
